<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="UTF-8">
    <% if (typeof title !='undefined' ) { %>
        <title>
            <%= title.charAt(0).toUpperCase() + title.slice(1) %>
        </title>
        <% if (title==='post' ) { %>
            <link rel="stylesheet" href="/css/post.css">
            <% } if (title==='Listing' ) { %>
                <link rel="stylesheet" href="/css/listing.css">
                <link rel="stylesheet" href="/css/vendor/leaflet.css">
                <script defer src="/js/slider.js"></script>
                <% } %>
        <% } else { %>
            <title>Offcuts</title>
            <% } %>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <meta property="og:title" content="">
            <meta property="og:type" content="">
            <meta property="og:url" content="">
            <meta property="og:image" content="">

            <link rel="manifest" href="/site.webmanifest">
            <link rel="apple-touch-icon" href="icon.png">

            <link rel="stylesheet" href="/css/styles.css">
            <link rel="stylesheet" href="/css/dark.css">
            <link rel="stylesheet" href="/css/vendor/normalize.css">
            <link rel="stylesheet" href="/css/vendor/ol-ext.min.css">
            <!-- <link rel="stylesheet" href="/css/vendor/autoComplete.min.css"> -->

            <% if (title === 'post') { %>      
            <script defer src="/js/post.js"></script>
            <% } %>
            <script defer src="/js/vendor/anime.min.js"></script>
            <script defer src="/js/vendor/modernizr-3.11.2.min.js"></script>
            <script defer src="/js/vendor/autoComplete.min.js"></script>

            <script defer src="/js/plugins.js"></script>
            <script defer src="/js/animation.js"></script>
            <script defer src="/js/darkmode.js"></script>

            <meta name="theme-color" content="#fafafa">

</head>

<body>
    <nav class="flex bg-color">

        <a href="/" id="logo">
            <%- include ('../svgs/logo.ejs') %>
        </a>

        <form class="search" action="/search" method="post">
            <div class="row">
                <%- include ('./dropdown.ejs') %>
                <input id="autoComplete" type="search" name="search" class="search-input neu" dir="ltr" 
                spellcheck="false" 
                autocorrect="off" 
                autocomplete="off" 
                autocapitalize="off" 
                maxlength="2048" 
                tabindex="1"
                 role="combobox" 
                 aria-haspopup="true" 
                 aria-expanded="false" 
                 aria-controls="autoComplete_list" 
                 aria-autocomplete="both" placeholder="Search">
                <button class="search-btn" type="submit">
                    <%- include ('../svgs/search.ejs') %>             
                 </button>
            </div>
            <div class="row align-start search-under">
                <div class="search-filter row"></div>
            </div>

        </form>

        <div class="nav-list row around">
            <a class="dark-mode-button" href="#">dark</a>
            <%- include ('../svgs/account.ejs') %>
            <a href="/post">Post</a>
        </div>
    </nav>

    <% if(typeof success_messages !='undefined' ) { %>
        <% for( let i=0; i < success_messages.length; i++ ) { %>
            <div class="flash ok row neu-static">
                    <%= success_messages[i] %>
                <a title="Close" class="flash-close flex">
                    <svg viewBox="0 0 24 24" width="18px" height="18px"><path class="light" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                    <!-- <img src="/images/svg/cross.svg" alt="Close flash"> -->
                </a>
            </div>
            <% } %>

    <% } %>
    <% if(typeof error_messages !='undefined' ) { %>
        <% for( let i=0; i < error_messages.length; i++ ) { %>
            <div class="flash err row neu-static">
                <%= error_messages[i] %> <a title="Close" class="flash-close flex">
                        <img src="/images/svg/cross.svg" alt="Close flash">
                    </a>
            </div>
        <% } %>
    <% } %>
        <div id="account-modal" class="modal-window row">
            <div class="col bg-color">
                <a href="#" title="Close" class="modal-close">
                    <img src="/images/svg/cross.svg" alt="Close login">
                </a>
                <h1>
                    <span class="tab bold">Login </span>·
                    <span class="tab "> Register</span>
                </h1>
                <div class="tab-content flex">
                    <form action="/login" method="post" class="pg-1-body" id="login">
                        <div class="col start">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="neu">
                        </div>
                        <div class="col start">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="neu">
                        </div>
                        <div class="col start">
                            <input type="submit" value="Submit" class="neu">
                        </div>

                    </form>
                    <form action="/register" method="post" class="pg-2-body" id="register">
                        <div class="col start">
                            <label for="name">Name:</label>
                            <input type="name" name="name" class="neu">
                        </div>
                        <div class="col start">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="neu">
                        </div>
                        <div class="col start">
                            <label for="number">Number:</label>
                            <input type="number" name="number" class="neu">
                        </div>
                        <div class="col start">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="neu">
                        </div>
                        <div class="col start">
                            <label for="passwordConfirm">Confirm Password:</label>
                            <input type="password" name="passwordConfirm" class="neu">
                        </div>
                        <div class="col start">
                            <input type="submit" value="Submit" class="neu">
                        </div>




                    </form>

                </div>


            </div>
        </div>