<%- include ('./partials/header.ejs') %>

<section>
    <h1 class="title">Your Listings</h1>
    <div class="table-users neu">
      
      
      <table cellspacing="0">
         <tr class="bg-color">
            <th>Picture</th>
            <th>Listing Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Boost</th>
            <th>Delete Listing</th>
         </tr>
         <% if (typeof listings !== 'undefined') { %>

          <% for( let i = 0; i < listings.length; i++ ) { %>
         <tr>
            <td style="width: 100px;"><img class="tablePic" src="<%= listings[i].images[0] %>" alt="" /></td>
            <td style="width: 220px;"><%= listings[i].title %></td>
            <td style="width: 300px;"><%= listings[i].description %></td>
            <td style="width: 120px;">R <%= listings[i].price %></td>
            <td style="width: 100px;"><input type="checkbox"></td>
            <td style="width: 100px;"><a style="color: rgb(250, 0, 0);" href="/deleteListing/<%=listings[i]._id%>">Delete</a></td>
         </tr>
         <% } %>
   
         <% } else { %>
           <div class="col not-found">
             <img src="/images/svg/notfound.svg" alt="not found">
             <h2>No Listings Found</h2>
           </div>
         <% } %>
         <tr>
            <!--Add row below listings with the option to boost-->
           
         </tr>
  
      </table>
   </div>
</section>

  <%- include ('./partials/footer.ejs') %>