<%- include ('./partials/header.ejs') %>

<section>
    <h1 class="title">Boost your Listings</h1>
    <div class="table-users">
      
      
      <table cellspacing="0">
         <tr>
            <th>Picture</th>
            <th>Listing Name</th>
            <th width="250">Description</th>
            <th>Price</th>
            <th>Boost</th>
         </tr>
         <% if (typeof listings !== 'undefined') { %>

          <% for( let i = 0; i < listings.length; i++ ) { %>
         <tr>
            <td><img src="<%= listings[i].images[0] %>" alt="" /></td>
            <td><%= listings[i].title %></td>
            <td><%= listings[i].description %></td>
            <td><%= listings[i].price %></td>
            <td> </td>
         </tr>
         <% } %>
   
         <% } else { %>
           <div class="col not-found">
             <img src="/images/svg/notfound.svg" alt="not found">
             <h2>No Listings Found</h2>
           </div>
         <% } %>
  
      </table>
   </div>
</section>

  <%- include ('./partials/footer.ejs') %>