<%- include ('./partials/header.ejs') %>

<section>

<div class="containeruser neu" style="padding: 50px;background-color: #317fa0;" >
  <div class="col">
    <h1 class="title">Account</h1>
    <h2>Your Account Details</h2>
    <a href="/boost"><h1>Boost a Listing</h1></a>
    <div class="row">
      <p>Name: </p><%=user.name%> 
    </div>
    <div class="row">
      <p>Email: </p><%=user.email%> 
    </div>
    <div class="row">
      <p>Number: </p><%=user.number%> 
    </div>
    <h1>Your Listings</h1>
  </div>
  
  <!-- <div class="row">
   
  </div> -->
</div>

</section>

<%- include ('./partials/footer.ejs') %>