<%- include ('./partials/header.ejs') %>

<section>


  <div class="col">
    <h1 class="title">Account</h1>
    <div class="row">
      <p>Name: </p><%=user.name%> 
    </div>
    <div class="row">
      <p>Email: </p><%=user.email%> 
    </div>
    <div class="row">
      <p>Number: </p><%=user.number%> 
    </div>
  </div>

</section>

<%- include ('./partials/footer.ejs') %>